@use "./../../variables.scss" as *;

.stepper-wrapper {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column-reverse;

  .stepper-count {
    display: grid;
    overflow: hidden;

    .title-wrapper {
      position: relative;

      .title {
        transition: transform 0.5s ease-in-out;
        position: absolute;
        width: 100%;
        top: 0;

        &.l {
          transition: transform 0.5s ease-in-out, opacity 0s ease-in-out 0.5s;
          transform: translate(-100%);
          opacity: 0;
        }

        &.r {
          transition: transform 0.5s ease-in-out, opacity 0s ease-in-out 0.5s;
          transform: translate(100%);
          opacity: 0;
        }

        &:first-child {
          position: relative;
        }
      }
    }

    .subtitle-wrapper {
      position: relative;

      .subtitle {
        font-size: 0.8125rem;
        color: $text-secondary;
        line-height: 1.46;
        transition: transform 0.5s ease-in-out;
        position: absolute;
        width: 100%;
        top: 0;

        &.l {
          transform: translate(-100%);
          opacity: 0;
          transition: transform 0.5s ease-in-out, opacity 0s ease-in-out 0.5s;
        }

        &.r {
          transform: translate(100%);
          opacity: 0;
          transition: transform 0.5s ease-in-out, opacity 0s ease-in-out 0.5s;
        }

        &:first-child {
          position: relative;
        }

      }
    }

    .text {
      color: $color-primary;
      font-family: IBM Plex Mono;
      font-size: 0.6875rem;
      line-height: 1.54;
      letter-spacing: 0.055rem;
    }

    .dots-wrapper {
      position: relative;
      display: flex;
      gap: 6px;
      margin-top: 8px;
      margin-bottom: 12px;

      .dot-box {
        flex: 1;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        text-align: left;
        cursor: pointer;

        &:disabled {
          cursor: default;
        }

        .dot-title {
          font-size: 0.6875rem;
          // font-size: 0.75rem;
          color: $text-secondary;
          line-height: 1.45;
          // line-height: 1.125;
          padding-top: 8px;
          transition: all 0.4s ease-in-out;
          font-weight: 400;
          text-align: center;
          width: 100%;
          position: relative;
          display: block;

          span {
            display: block;
            transition: transform 0.4s ease-in-out;
          }

          .title-extend {
            display: none;
          }

          &::before {
            display: inline-block;
            content: "✓ ";
            transform: scale(0);
            width: 0;
            transition: width 0.4s ease-in-out, transform 0.4s ease-in-out;
            margin-right: 0.2rem;
            position: absolute;
          }

          &.active {
            color: $text-primary;
            font-weight: 600;
          }

          &.checked {
            color: $text-primary;
            font-weight: 600;

            span {
              transform: scale(0);
            }

            &::before {
              transform: scale(1);
              width: 0.5625rem;
            }
          }
        }
      }

      .dot {
        height: 5px;
        width: 100%;
        flex: 1;
        background-color: $color-disabled;
        border-radius: 999px;
        display: block;
      }

      .progress-line {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 5px;
        transition: clip-path 0.4s ease-in-out;
        display: flex;
        gap: 6px;
        pointer-events: none;

        .dot {
          background-color: $color-primary;
        }
      }
    }
  }

  .steps {
    padding: 22px 0;
    overflow: hidden;

    .steps-box {
      display: flex;
      transition: transform 0.5s ease-in-out, height 0.5s ease-in-out;
      align-items: flex-start;

      .step {
        flex: 1;
        overflow: hidden;

        .step-content {
          .title-wrapper {
            display: flex;
            gap: 10px;
            align-items: center;
            padding-bottom: 10px;

            .number {
              font-size: 0.75rem;
              line-height: 1.5;
              color: $text-secondary;
              display: none;
              font-family: IBM Plex Mono;
            }

            .title {
              font-size: 0.9375rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}


@include desktop {
  .stepper-wrapper {
    padding: 36px;
    max-width: none;
    width: 66%;
    margin: 0;
    display: flex;
    flex-direction: column;

    .stepper-box {
      flex: 1;
    }

    .stepper-count {
      grid-template-columns: 1fr 1fr;

      .title-wrapper {
        grid-row: 2;
        grid-column: 1/3;

        .title {

          &.r {
            transform: translate(-100%);
          }
        }
      }

      .subtitle-wrapper {
        grid-row: 1/3;
        grid-column: 2;
        width: 260px;
        justify-self: flex-end;

        .subtitle {
          height: 40px;
          text-align: end;

          &.l {
            transform: translate(100%);
          }

        }
      }

      .text {
        padding-bottom: 6px;
      }

      .dots-wrapper {
        gap: 10px;
        margin-top: 14px;
        margin-bottom: 28px;
        grid-row: 3;
        grid-column: 1 / 3;


        .dot-box {
          .dot-title {
            font-size: 0.75rem;
            line-height: 1.125;
            text-align: left;

            span {
              display: inline;
              // transition: transform 0.4s ease-in-out;
            }

            .title-extend {
              display: inline;
            }

            &::before {
              // display: inline-block;
              // content: "✓ ";
              // transform: scale(0);
              // width: 0;
              // transition: width 0.4s ease-in-out, transform 0.4s ease-in-out;
              // margin-right: 0.2rem;
              position: relative;
            }

            // &.active {
            //   color: $text-primary;
            //   font-weight: 600;
            // }

            &.checked {
              // color: $text-primary;
              // font-weight: 600;

              span {
                transform: scale(1);
              }

              &::before {
                transform: scale(1);
                width: 0.5625rem;
              }
            }
          }
        }

        .progress-line {
          gap: 10px;
        }
      }
    }

    .steps {
      padding: 0;
      padding-bottom: 28px;
      flex: 1;

      .steps-box {
        .step {
          .step-content {
            .title-wrapper {

              .number {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}