@use "./../../../variables.scss" as *;

.result {
    .yellow-result {
        flex: 1;
        padding: 24px 20px 28px 20px;
        border-top: 1px solid $warning-color;
        background-color: $warning-bg;

        .tag {
            font-size: 0.6875rem;
            line-height: 1.54;
            font-family: IBM Plex Mono;
            color: $text-muted;
            letter-spacing: 0.055rem;
            background-color: $white;
            border: 1px solid $warning-color;
            padding: 6px 11px;
            width: fit-content;
            border-radius: 999px;
            color: $warning-text;
        }

        .info {
            color: $warning-text;
            font-size: 1.75rem;
            font-weight: 600;
            line-height: 1.21;
            letter-spacing: -0.035rem;
            padding-top: 14px;
        }

        .btns{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .text-1 {
            color: $text-green-secondary;
            font-size: 0.9375rem;
            line-height: 1.53;
            padding-top: 10px;
            padding-bottom: 20px;

            span{
                display: none;
            }
        }
    }
}

@include desktop {
    .result {
        .yellow-result {
            border-top: none;
            padding: 36px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: transparent;

            .text-1 {
                font-size: 1rem;
                line-height: 1.56;
                padding-top: 14px;
                padding-bottom: 24px;

                span{
                    display: block;
                }
            }

            .info {
                font-size: 2.125rem;
                line-height: 1.17;
                letter-spacing: -0.0425rem;
                padding-top: 18px;
            }

            .tag {
                background-color: $bg-green;
            }
        }
    }
}