@use "./../../../../variables.scss" as *;

.pit {
    padding-bottom: 28px;

    .lump-wrapper {
        position: absolute;
        bottom: -14px;
        transform: translateY(100%);
    }

    .hint-lumpsum {
        top: 50px;
        bottom: 0;
        left: 40px;
        transform: translateY(-5%);

        &.open {
            transform: translateY(0);
        }
    }

    .hint-message-1 {
        display: none;
    }

    .title-wrapper {
        position: relative;
    }

    .pit-content {
        display: flex;
        gap: 10px;
        flex-direction: column;

        .pit-text {
            font-size: 0.8125em;
            line-height: 1.5;
            color: $text-muted;
            min-height: auto;
            transition: opacity 0.3s ease-in-out;
            opacity: 0;
            pointer-events: none;
            height: 0;
            padding-bottom: 0;

            &.active {
                opacity: 1;
                transition: opacity 0s ease-in-out 0.4s;
                pointer-events: auto;
                min-height: fit-content;
                padding-bottom: 14px;
            }
        }

        .pit-btns {
            display: flex;
            gap: 8px;
            position: relative;
            flex-wrap: wrap;

            .btn-pit {
                padding-left: 5px;
                padding-right: 5px;
                flex: 1;

                span {
                    display: none;
                }

                &::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }
}

@include tablet {
    .pit {

        .lump-wrapper {
            position: relative;
            bottom: auto;
            transform: translateY(0);
        }

        .title-wrapper {
            width: fit-content;
        }

        .hint-message-1 {
            display: block;
        }

        .hint-message-2 {
            display: none;
        }

        .pit-content {
            flex-direction: column-reverse;
            gap: 14px;
            padding-bottom: 0;
            justify-content: flex-end;

            .pit-text {
                display: block;
                padding-bottom: 0;
                height: fit-content !important;
                opacity: 1;

                &.active{
                    padding-bottom: 0;
                }
            }

            .pit-btns {
                gap: 10px;

                .btn-pit {
                    padding-left: 20px;
                    padding-right: 20px;
                    flex: none;

                    span {
                        display: inline;
                    }
                }
            }
        }
    }
}

@include desktop {
    .pit {
        padding-bottom: 0;

        .hint-lumpsum {
            top: 16px;
            bottom: 0;
            left: 210px;
            transform: translatex(-5%);
        }
    }
}