@use "./../../../../variables.scss" as *;

.pit {
    padding-bottom: 20px;

    .hint-lumpsum {
        bottom: -55px;
    }

    .hint-message-1 {
        display: none;
    }

    .title-wrapper {
        position: relative;
    }

    .pit-content {
        display: flex;
        gap: 10px;
        flex-direction: column;
        min-height: 250px;

        .pit-text {
            font-size: 0.8125em;
            line-height: 1.5;
            padding-bottom: 14px;
            color: $text-muted;
            min-height: fit-content;
            transition: opacity 0.3s ease-in-out;
            opacity: 0;
            pointer-events: none;

            &.active {
                opacity: 1;
                transition: opacity 0s ease-in-out 0.4s;
                pointer-events: auto;
            }
        }

        .pit-btns {
            display: flex;
            gap: 8px;
            position: relative;
            flex-wrap: wrap;

            .btn-pit {
                padding-left: 5px;
                padding-right: 5px;
                flex: 1;

                span {
                    display: none;
                }

                &::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }
}

@include mobile {
    .pit {
        padding-bottom: 0;
    }
}

@include tablet {
    .pit {
        padding-bottom: 150px;

        .hint-lumpsum {
            left: 30px;
        }


        .title-wrapper {
            width: fit-content;
        }

        .hint-message-1 {
            display: block;
        }

        .hint-massage-2 {
            display: none;
        }

        .pit-content {
            flex-direction: column-reverse;
            gap: 14px;
            padding-bottom: 0;
            justify-content: flex-end;

            .pit-text {
                display: block;
                padding-bottom: 0;
                height: fit-content !important;
                opacity: 1;
            }

            .pit-btns {
                gap: 10px;

                .btn-pit {
                    padding-left: 20px;
                    padding-right: 20px;
                    flex: none;

                    span {
                        display: inline;
                    }
                }
            }
        }
    }
}

@include desktop {
    .pit {
        padding-bottom: 0;

        .hint-lumpsum {
            left: -90px;
            top: 80px;
        }
    }
}