{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 120,
    "tabWidth": 4,
    "editor.formatOnSave": true,
    "[javascript]": {
        "editor.formatOnSave": true
    }
}
