@use "./../../../variables" as *;

.alert-wrapper {
    transform: translate(20%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, max-height 0s ease-in-out 0.3s;
    max-height: 0;
    overflow: hidden;

    .alert {
        background-color: $warning-bg;
        padding: 16px 18px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        border-left: 3px solid $warning-color;
        margin-top: 10px;

        .alert-title {
            display: none;
            font-weight: 600;
            font-size: 0.9375rem;
            line-height: 1.53;
            color: $warning-text;
        }

        .alert-text {
            display: none;
            font-size: 0.875rem;
            color: $warning-text;
            line-height: 1.57;
        }

        .alert-short-text {
            font-weight: 400;
            font-size: 0.8125rem;
            line-height: 1.53;
            color: $warning-text
        }
    }

    &.open {
        transform: translate(0);
        opacity: 1;
        max-height: 150px;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
}

@include desktop {
    .alert-wrapper {
        .alert {
            margin-top: 14px;
            .alert-title {
                display: block;
            }

            .alert-text {
                display: block;

            }

            .alert-short-text {
                display: none;
            }
        }
    }

}