@use "./../../../variables.scss" as *;

.stepper-wrapper {
    .btns {
        display: none;
        align-items: center;
        padding-top: 24px;
        border-top: $border-primary;

        .btn-box {
            flex: 1;
            max-width: 100%;
            overflow: hidden;
            transition: max-width 0.5s ease-in-out;

            .button-stepper {
                width: 116px;
                transition: opacity 0.4s ease-in-out;
            }

            &.hide {
                max-width: 0;

                .button-stepper {
                    opacity: 0;
                }
            }
        }

        .texts {
            position: relative;
            width: 340px;

            .text {
                position: absolute;
                font-size: 0.8125rem;
                line-height: 1.2rem;
                text-align: right;
                color: $text-secondary;
                right: 0;
                top: 50%;
                transform: translate(20%, -50%);
                opacity: 0;
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
                pointer-events: none;

                &.active {
                    opacity: 1;
                    transform: translate(0%, -50%);
                    pointer-events: auto;
                }
            }
        }
    }
}

@include desktop {
    .stepper-wrapper {
        .btns {
            display: flex;
        }
    }
}