@use "./../../../../variables.scss" as *;

.cit {
    .title-wrapper {
        position: relative;
        width: fit-content;

    }

    .hint-message-1 {
        display: none;
    }

    .cit-content {
        padding-bottom: 42px;

        .text {
            font-size: 0.875em;
            line-height: 1.5;
            padding-bottom: 14px;
            display: none;
            color: $text-muted;
            margin-bottom: 0;
        }

        .cit-btns {
            display: flex;
            gap: 8px;
            position: relative;

            .btn-cit {
                padding-left: 5px;
                padding-right: 5px;
                flex: 1;

                span {
                    display: none;
                }

                &::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }
}

@include tablet {
    .cit {
        .hint-message-2 {
            display: none;
        }

        .hint-message-1 {
            display: block;
        }

        .cit-content {
            .text {
                display: block;
            }

            .cit-btns {
                gap: 10px;

                .btn-cit {
                    padding-left: 20px;
                    padding-right: 20px;
                    flex: none;

                    span {
                        display: inline;
                    }
                }
            }
        }
    }
}