@import '../styles/variables.scss';

body {
    background-color: $light-gray;
}

.donation-form {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    background-color: transparent;
    padding: $padding;
    text-align: center;
    font-family: Roboto;
    box-sizing: border-box;

    header,
    section {
        margin-bottom: $padding-large;
        width: 100%;
        max-width: 45em;
    }
    section {
        padding-top: $padding-large;
        display: none;
        border-top: 1px solid darken($light-gray, 10);

        &.visible {
            display: block;
        }
    }

    h2 {
        margin-bottom: $padding-small;
    }

    .tax-type-select {
        .tax-options {
            display: flex;
            flex-flow: column;
            justify-content: center;

            input {
                display: none;
            }

            .option {
                display: flex;
                flex-flow: row nowrap;
                margin-bottom: $padding-small;
            }
        }
    }

    .incorrect-tax {
        text-align: left;
        line-height: 1.5em;
        p {
            margin-bottom: $padding;
        }
    }

    .income-options {
        display: flex;
        flex-flow: column;

        .option {
            display: flex;
            flex-flow: column;
            margin-bottom: $padding;

            .text {
                min-width: 8em;
                line-height: 2em;
                text-align: left;
            }

            .income-input {
                flex: 1 1 auto;
                width: auto;
                line-height: $height;
                height: $height;
                font-size: 1.4em;
                padding-left: $padding;

                @include phone() {
                    margin: 0;
                }
            }
        }
    }

    .validation-message {
        background-color: #ff9999;
        padding: 1em;
        margin-top: 0.5em;
    }

    .tax-output {
        margin-top: $padding;
        text-align: left;
        line-height: 1.5em;
    }

    .actions {
        border-top: 1px solid darken($light-gray, 10);
        padding-top: $padding;

        #calculate-donation-btn {
            width: 6em;
            height: 3em;
            border-radius: 0;
            background-color: $blue;
            transition-duration: 0.5s;
            font-size: 1.4em;
            padding: $padding-small;
            border: none;
        }
    }
}
