@import '../styles/variables.scss';

body {
    background-color: $light-gray;
}

.button {
    width: 8em;
    height: 3em;
    border-radius: 0;
    background-color: $blue;
    transition-duration: calc($animation-time / 4);
    font-size: 1.4em;
    padding: $padding-small;
    border: none;

    &[disabled] {
        background-color: darken($light-gray, 10);
        cursor: default;
        color: darken($gray, 10);
    }

    &:not([disabled]) {
        &:hover {
            background-color: lighten($blue, 10);
        }
    }
}

.donation-form {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    background-color: transparent;
    padding: $padding;
    text-align: center;
    box-sizing: border-box;

    header {
        margin-top: $padding;
    }

    content {
        position: relative;
        width: 100%;
        max-width: 45em;
    }

    header,
    section {
        margin-bottom: $padding-large;
        width: 100%;
        max-width: 45em;
    }
    section {
        padding-top: $padding;
        border-top: 1px solid darken($light-gray, 10);
        transition-duration: $animation-time;
        opacity: 0;

        &.visible {
            opacity: 1;
        }
    }

    h2,
    h3,
    h4 {
        margin: $padding-small 0;
    }

    .tax-type-select {
        .tax-options {
            display: flex;
            flex-flow: column;
            justify-content: center;

            input {
                display: none;
            }

            .option {
                display: flex;
                flex-flow: row nowrap;
                margin-bottom: $padding-small;
            }
        }
    }

    .incorrect-tax {
        display: none;
        text-align: left;
        line-height: 1.5em;
        p {
            margin-bottom: $padding;
        }

        &.visible {
            display: block;
        }
    }

    .income-input {
        display: flex;
        flex-flow: column;

        .income-options {
            display: flex;
            flex-flow: column;
            margin-bottom: $padding;

            .option {
                display: flex;
                flex-flow: column;
                margin-bottom: $padding;

                .text {
                    min-width: 8em;
                    line-height: 2em;
                    text-align: left;
                }

                .income-input {
                    flex: 1 1 auto;
                    width: auto;
                    line-height: $height;
                    height: $height;
                    font-size: 1.4em;
                    padding-left: $padding;

                    @include phone() {
                        margin: 0;
                    }
                }
            }
        }

        #calculate-donation-btn {
            align-self: center;
            display: none;
            transition-duration: $animation-time;

            &.visible {
                display: block;
            }
        }
    }

    .validation-message {
        background-color: #ff9999;
        padding: 1em;
        margin-top: 0.5em;
    }

    .actions {
        display: flex;
        flex-flow: column;
        align-items: center;
        border-top: 1px solid darken($light-gray, 10);
        padding-top: $padding;
        top: 16em;

        &.visible {
            position: absolute;
            top: 0;
        }

        .tax-output {
            margin: $padding 0;
            text-align: left;
            font-size: 1.25em;
            line-height: 1.5em;

            h2,
            h3 {
                text-align: center;
            }

            p {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1.5rem;
                text-align: center;

                span,
                strong {
                    margin-bottom: 1rem;
                }

                flex-flow: row wrap;
                @include phone() {
                    flex-flow: column;
                }

                .donation-result,
                .tax-result {
                    font-size: 1.5em;
                    margin-left: 0.25em;
                    margin-right: 0.25em;
                }
                .tax-result {
                    color: green;
                }
            }
        }

        #change-data-btn {
            display: none;
            transition-duration: $animation-time;

            &.visible {
                display: block;
            }
        }
    }
}
