@use "./../../../variables.scss" as *;

.input-wrapper {
    padding: 10px 14px;
    border: $border-secondary;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 10px;

    .input {
        padding: 0;
        border: none;
        outline: none;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.5;
        flex: 1;
        width: 0;

        &::placeholder {
            font-weight: 400;
        }
    }

    .prefix {
        font-size: 0.9375rem;
        line-height: 1.53;
    }
}