@use "./variables" as *;

@font-face {
  font-family: SchibstedGrotesk;
  src: url("./assets/SchibstedGrotesk-Regular.ttf");
}

body {
  margin: 0;
}

* {
  font-family: "Schibsted Grotesk", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 1.25rem;
  letter-spacing: -0.025rem;
  line-height: 1.25;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 1.125rem;
  letter-spacing: -0.01125rem;
  font-weight: 600;
  line-height: 1.4375;
}

p,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $text-primary;
}

p {
  font-size: 0.9375rem;
  line-height: 1.6;
}

.button {
  padding: 14px 24px;
  font-size: 0.9375rem;
  font-family: SchibstedGrotesk;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:disabled {
    cursor: default;
  }

  &--chip {
    background-color: $white;
    border: $border-secondary;
    font-weight: 400;

    &.active {
      background-color: $color-primary;
      color: $white;
      font-weight: 600;
      border-color: $color-primary;
    }
  }

  &--primary {
    background-color: $color-primary;
    border: none;
    // outline: none;
    color: $white;
    font-weight: 600;
  }

  &--dark {
    background-color: $color-dark;
    border: none;
    // outline: none;
    color: $white;
    font-weight: 600;
  }

  &--ghost {
    background-color: $color-ghost;
    border: $border-secondary;
    // outline: none;
    transition: opacity 0.3s ease-in-out;

    &:disabled {
      opacity: 0.5;
    }
  }
}

@include tablet {
  h1 {
    font-size: 1.625rem;
    line-height: 1.269;
    letter-spacing: -0.0325rem;
  }

  h3 {
    font-size: 1.375rem;
    line-height: 1.269;
    letter-spacing: -0.0275rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    animation: none !important;
    transition: none !important;
  }
}